body {
  background: rgba(15, 14, 14, 0.952);
  font-family: 'Poppins', sans-serif;
  color: #e9e904;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

body .container .form {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .form h1 {
  font-size: 1.4rem;
  margin: 1.2rem 0 .7rem 0;
  text-align: center;
}

body .container .form label {
  padding: .25rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .76rem;
}

body .container .form select {
  width: 100%;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: 1px solid rgba(241, 238, 5, 0.822);
  border-radius: 9999rem;
  background: none;
  font-size: 1.3rem;
  padding: .5rem;
  margin: 0 0 .5rem 0;
}

body .container .form select:focus {
  outline: none;
  border: 1px solid #eede06;
}

body .container .form input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: 1px solid rgba(219, 243, 0, 0.74);
  border-radius: 9999rem;
  background: none;
  font-size: 1.3rem;
  padding: .5rem;
  margin: 0 0 .5rem 0;
  color: bisque;
}

body .container .form input:focus {
  outline: none;
  border: 1px solid #eeff00;
}

body .container .form input::-webkit-input-placeholder {
  color: #ffe7ca;
  font-size: .7rem;
  -webkit-transform: translateY(-0.6rem);
          transform: translateY(-0.6rem);
}

body .container .form input:-ms-input-placeholder {
  color: #ffe7ca;
  font-size: .7rem;
  transform: translateY(-0.6rem);
}

body .container .form input::-ms-input-placeholder {
  color: #ffe7ca;
  font-size: .7rem;
  transform: translateY(-0.6rem);
}

body .container .form input::placeholder {
  color: #ffe7ca;
  font-size: .7rem;
  -webkit-transform: translateY(-0.6rem);
          transform: translateY(-0.6rem);
}

body .container .form .btn {
  color: #dddcdc;
  border: none;
  font-weight: 700;
  padding: 1rem 1rem;
  margin: 2rem 0 0 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 9999rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  text-align: center;
}

body .container .form .btn#delete {
  background: rgba(255, 60, 1, 0.76);
}

body .container .form .btn#update {
  background: rgba(41, 65, 173, 0.76);
}

body .container .form .btn#addnew {
  background: rgba(41, 173, 48, 0.76);
}

body .container .form .btn:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}
/*# sourceMappingURL=main.css.map */